
html
  head
  body
    p
      | Hello !{query.username}
      | Your application for profile !{query.job.profile} at !{query.company}'s status
      | has been changed to !{query.job.status} by the recruiter.
      
